# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual env
.venv/
venv/
env/

# IDEs / sistema
.vscode/
.idea/
.DS_Store

# Arquivos de ambiente
.env
*.env

# Cache
.mypy_cache/
.pytest_cache/
.cache/

# Build / dist
build/
dist/
*.egg-info/

# Arquivos temporários do projeto
storage/audio_tmp/
storage/videos/
